# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=seismo
DB_PASSWORD=changeme
DB_NAME=seismograph

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
PORT=3000

# USGS
USGS_FEED_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.geojson
USGS_SEED_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_month.geojson
